* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	/* font */
	font-size: 62.5%; /* 10px */

	/* colors */

	--Nutmeg: #854632;
	--Dark-Raspberry: #7b284f;

	--White: #ffffff;
	--Rose-White: #ffeef6;
	--Eggshell: #f3e6d8;
	--Light-Grey: #e4ded8;
	--Wenge-Brown: #5f574e;
	--Dark-Charcoal: #302d2c;
}

body {
	font-size: 1.6rem;
}

html,
body,
button {
	font-family: "Outfit", sans-serif;
}

.container {
	width: min(39rem, 100%);
	margin: 0 auto;
}

main img {
	width: 100%;
}

section {
	padding: 0rem 2.8rem;
}

.introduction h1 {
	font-family: "Young Serif", sans-serif;
	font-size: 3.6rem;
	color: var(--Dark-Charcoal);

	margin-top: 2.4rem;
}

section.introduction p {
	color: var(--Wenge-Brown);
	font-size: 1.7rem;
	line-height: 2.4rem;

	margin: 2.4rem 0;
}

section .preparation {
	background-color: var(--Rose-White);
	border-radius: 1.2rem;

	padding: 2.4rem;
}

.preparation p {
	font-size: 2rem;
	font-weight: 600;
	color: var(--Dark-Raspberry);

	margin-bottom: 2rem;
}

.preparation ul {
	list-style: none;
	margin-left: 4rem;

	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.preparation li {
	position: relative;
}

.preparation ul li::before {
	content: "";
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	background-color: #7b284f;

	position: absolute;
	top: 50%;
	left: -3rem;
	transform: translateY(-50%);
}

.preparation ul li span {
	color: var(--Wenge-Brown);
	font-size: 1.8rem;
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
	font-family: "Young Serif", sans-serif;
	font-size: 3rem;
	font-weight: 400;
	color: var(--Nutmeg);

	margin: 2.4rem 0;
}

.ingredients ul {
	margin-left: 4rem;

	display: flex;
	flex-direction: column;
	gap: 1.2rem;

	list-style: none;
}

.ingredients li {
	position: relative;

	font-size: 1.6rem;
	font-weight: 500;
	color: var(--Wenge-Brown);
}

.ingredients ul li::before {
	content: "";
	background-color: var(--Dark-Raspberry);
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: -3.2rem;
}

.line {
	width: 100%;
	height: 1px;
	background-color: var(--Wenge-Brown);
	opacity: 0.3;

	margin: 2.4rem 0;
}

.instructions ol {
	list-style-position: inside;

	color: var(--Dark-Raspberry);
	font-weight: 700;

	display: flex;
	flex-direction: column;
	gap: 1.2rem;

	margin-left: 1rem;
}

.instructions li span {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--Wenge-Brown);

	margin-left: 2.4rem;
}

.nutrition p {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--Wenge-Brown);

	margin-bottom: 2.4rem;
}

table {
	border-collapse: collapse;
}

table tr {
	border-bottom: 1px solid rgb(95, 87, 78, 0.5);
}

table th,
table td {
	text-align: left;
	width: 100%;

	padding-block: 1rem;
}

table th {
	color: var(--Wenge-Brown);
	font-size: 1.8rem;
	font-weight: 500;

	padding-left: 4rem;
}

table td {
	color: var(--Nutmeg);
	font-weight: 700;
	padding-right: 8rem;
}

.nutrition table {
	margin-bottom: 4.8rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1120px) {
	body {
		background-color: var(--Eggshell);
		margin: 10rem 0;
	}

	.container {
		background-color: #fafafa;
		border-radius: 3rem;

		width: min(96rem, 100%);
		margin: 0 auto;
	}

	main img {
		width: 100%;
		padding: 4.8rem 4.8rem;
		border-radius: 6rem;
	}

	section {
		padding: 0rem 4.8rem;
	}

	.introduction h1 {
		margin-top: 0;
	}
}
