* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	/* font */
	font-size: 62.5%; /* 10px */

	/* colors */

	--Nutmeg: #854632;
	--Dark-Raspberry: #7b284f;

	--White: #ffffff;
	--Rose-White: #ffebf5;
	--Eggshell: #f3e6d8;
	--Light-Grey: #e4ded8;
	--Wenge-Brown: #5f574e;
	--Dark-Charcoal: #302d2c;
}

body {
	font-size: 1.6rem;
}

html,
body,
button {
	font-family: "Outfit", sans-serif;
}

.container {
	width: min(39rem, 100%);
	margin: 0 auto;
}

main img {
	width: 100%;
}

section {
	padding: 2rem 2.8rem;
}

section.introduction h1 {
	font-family: "Young Serif", sans-serif;
	font-size: 3.6rem;
	color: var(--Dark-Charcoal);
}

section.introduction p {
	color: var(--Wenge-Brown);
	font-size: 1.7rem;
	line-height: 2.4rem;

	margin: 2.4rem 0;
}


